body {
  font-family: Lato, sans-serif;
  margin: 30px auto;
  max-width: 1200px;
}

.panel {
  position: relative;
}

.hidden {
  display: none;
}

#mapContainer {
  height: 600px;
}

#map {
  height: 100%;
}

#mapSpinner {
  position: absolute;
  z-index: 9999;
  top: 55%;
  left: 48%;
}

#infoWindow {
  cursor: pointer;
}