body {
  font-family: Lato, sans-serif;
  margin: 30px auto;
  max-width: 1200px;
}

nav {
  background-color: #4444cc;
}

nav .brand-logo {
  margin-left: 1.5rem;
}

nav .tabs {
  width: 360px;
  margin-top: 10px;
}

nav .tab {
  width: 120px;
}

nav .tab i {
  line-height: inherit;
  margin-left: 3px;
}

nav .tab.disabled a {
  color: #7777ee !important;
}

.pane {
  padding: 10px;
  padding-top: 15px;
}

#map {
  height: 100%;
}

#mapSpinner, #budgetSpinner {
  position: absolute;
  z-index: 9999;
  top: 55%;
  left: 48%;
}

#infoWindow {
  cursor: pointer;
}

#budgetPane .deselect-agency-button {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

#budgetPane {
  font-size: 1.2em;
}

#budgetPane .card-panel {
  background-color: #8888ff;
  color: white;
}

#budgetPane .card-panel.over {
  background-color: red;
}

#budgetPane .card-panel.under {
  background-color: green;
}

#budgetPane .card-panel div {
  font-size: 1.5em;
  font-weight: bold;
}
